
.form-floating > .bi-calendar-date + .datepicker_input + label {
  padding-left: 3.5rem;
  z-index: 3;
}

.layout{
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

input[type="radio"].profile-tab
{
  display: none;
}

.addressTypeRadio{
  cursor:"pointer"
}

.btn-div{
  padding:20px!important;
}

label.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid #49abff;
  background: #ecf0f1;
  user-select: none;
  transition: background 0.4s, transform 0.2s; /* Smooth effect */
  padding: 10px 20px; /* Fixed padding to prevent shifting */
}

/* Apply the zoom effect without shifting */
input[type="radio"].profile-tab:checked + .page + label.nav {
  background: #49abff;
  color: #ffffff;
  transform: scale(1.05); /* Zoom effect */
}

/* Ensure text remains aligned */
label.nav span {
  position: relative;
  transition: padding-left 0.2s;
}

/* Keep SVG icons visible */
label.nav svg {
  opacity: 1;
}


.page {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: span 3;
  padding: 20px;
  /* display: flex; */
  flex-direction: column; /* Ensure content stacks properly */
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text */
}

.page-contents > *{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s, transform 0.2s;
  @for $c from 1 through 20{
    &:nth-child(#{$c}){
      transition-delay: 0.2s + ($c * 0.2s);
    }
  }
}

input[type="radio"].profile-tab + .page{
  transition: transform 0.2s;
  transform: translateX(100%);
}

input[type="radio"].profile-tab:checked + .page{
  transform: translateX(0%);
  .page-contents > *{
    opacity: 1;
    transform: translateY(0px);
  }
}

.page-contents{
  max-width: 100%;
  margin: 0 auto;
}

/* Adjust width for mobile */
@media (max-width: 768px) {
  .page-contents {
    width: 100%;
    padding: 10px;
  }
}


