.navFooter{
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #10488e;
    position: relative;
    /* margin: 30px 0 8px 0; */
    padding: 0px 0 0 0;
}



.navFooter a:link, 
.navFootera:visited {
    text-decoration: none;
}

.navFooterBackToTop {
    margin-bottom: 40px!important;
    background-color: rgb(44, 182, 240)!important;

}

.backToTopIcon{
 margin-top:-4px!important
}

.navFooter .navFooterBackToTop .navFooterBackToTopText {
    color: #37475A!important;
    font-weight:700!important;
    font-size:14px!important;
}

.navFooterBackToTop span {
    display: block!important;
    text-align: center!important;
    padding: 15px 0!important;
    line-height: 19px!important;
    font-size: 13px!important;
}

.navFooterVerticalColumn{
    display: table;
    margin: 0 auto;
}

.navFooterVerticalRow{
    display: table-row!important;
    text-align:left;
   
}


.navFooterColSpacerInner,
.navFooterLinkCol {
    display: table-cell;
    padding: 0 10px;
}

.navFooterLinkCol {
    line-height: 120%;
    color: #333;
    vertical-align: top;
}


.navFooterVerticalColumn .navFooterColSpacerInner {
    width: 10%;
    padding: 0 15px;
}

.navFooterColHead {
    font-weight: 700;
    color: #FFF;
    white-space: normal;
    font-size: 16px;
    margin: 6px 0 14px 0!important;
}

.nav_last {
    color: #DDD;
}

.nav_first {
    color: #DDD;
}

.navFooterLinkCol ul {
    padding: 0;
    margin: 0;
}

.navFooterLinkCol ul li {
    margin: 0 0 10px;
    list-style-type: none;
    white-space: nowrap;
}

.navFooterLinkCol  a{
    color: #DDD;
    text-decoration: none;
}

.navFooterCopyright{
    font-size: 12px;
    background-color: #383838;
    max-width: 100%;
    margin-top: 20px;
    padding: 10px 0 1px;
    text-align: center;
    white-space: normal;
    color: #DDD;
        /* display: flex; */
        flex-wrap: wrap;
        justify-content: center;
}


    .navFooterCopyrightSpan{
        padding-top: 5px!important;
        list-style-type: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        font-weight:700;
    }
  


.navFooterCopyright a{
    color: #FFF;
    text-decoration: none;
}


.navFooterCopyright ul li {
    margin: 0 0 0px;
    list-style-type: none;
    white-space: nowrap;
}




.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.g-pos-rel {
    position: relative !important;
}
.g-brd-white-opacity-0_1 {
    border-color: rgba(255, 255, 255, 0.1) !important;
}
.g-brd-bottom {
    border-bottom: solid 1px transparent !important;
}

.g-color-white-opacity-0_8{
    padding-left:6px!important;
    font-size:18px!important;
    /* font-weight:500!important; */
    color:white!important;
}

.g-pos-rel {

    padding-bottom:10px!important;
}