.logoutIcon{
  color: #fff; 
 cursor:pointer;
 font-weight:bold;
}

.logoutText{
  color: #fff; 
  cursor:pointer;
  font-weight:bold;
}



.header-nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(45deg, #344b75, #3770d1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-mobile-nav {
  position: fixed;
  width: 100%;
  background: #f1f5f9;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


  .title-container p {
    margin: 0;
    font-weight: bold;
    color:white;
    text-align: left;
    overflow: hidden;    /* Hides the overflow if text doesn't fit */
    text-overflow: clip; /* No ellipsis, text will just shrink to fit */
    font-size: 20px;  /* You can adjust the font size for readability */
    
  }
  
  .header-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px;
      background: linear-gradient(45deg, #344b75, #3770d1);
      background-color: #f8f9fa; 
    }
    
    .logo-container {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    
    .logo-image {
      max-width: 100px; 
      height: auto;
      border-radius: 50%;
    }
    
    /* .title-container p {
      margin: auto;
      font-size: 1.6rem;
      font-weight: bold;
      color:white;
      text-align: left;
    } */
  
    .icon-container{
      margin: auto;
    }
  
    .fb-icon{
      background-color: white !important;
    }
  
    .twt-icon{
      background-color: white !important;
    }
  
    .inst-icon{
      background-color: white !important;
    }
  
    .linked-icon{
      background-color: white !important;
    }
  
  

  @media (max-width: 991px) {
    .header-container {
      text-align: center;
      padding: 15px;
    }
    .logo-container {
      max-width: 120px; /* Adjust logo size for tablets */
      margin-bottom: 10px;
    }
    .title-container p {
      font-size: 1.25rem; /* Adjust font size for tablets */
    }
  }

  @media (max-width: 768px) { 
    .smart-main-content {
      margin-top: 60px; /* Leaves space for the mobile nav only on mobile */
    }
  }
  
  
/* Flexbox for even spacing */
.custom-mobile-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Individual Menu Item */
.custom-mobile-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2563eb; /* Blue Text */
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Icons with Blue Color */
.custom-mobile-item .custom-icon {
  font-size: 20px;
  color: #2563eb; /* Blue */
  margin-bottom: 3px;
}

/* Hover Effect */
.custom-mobile-item:hover {
  color: #1e40af; /* Darker Blue */
  transform: scale(1.05);
}


