.dashboard-smart-side-tab{
    padding-right:2px!important;
    padding-left:2px!important;
}

.dashboard-tab{
    background: #fff!important;
    padding-top: 15px !important;
}

.nav-pills-custom .nav-link {
    color: #49abff !important;
    background: #fff;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-pills-custom .nav-link.active {
    color: #ffffff !important;
    background: #49abff !important;
}

.nav-pills-custom .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #49abff;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.nav-pills-custom .nav-link:hover::after {
    width: 100%;
}

.nav-pills-custom .nav-link:hover {
    transform: translateY(-2px);
}
/* Add indicator arrow for the active tab */
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #49abff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

#v-pills-tabContent {
    border: 1px solid #49abff;
    box-shadow: 0px 0px 8px rgba(73, 171, 255, 0.6); /* Soft, even glow */
    margin: 0 !important;
    padding: 0 !important;

}


.dashboard-tab{
    min-height:70vh;
}
